<%- include ("../partials/header.ejs") %>
<%- include ("../partials/homenavbar.ejs") %>

<body>
    <div class="container">
        <h2 class="mt-5">Listagem de planos</h2>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>preço</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% Plans.forEach(plan =>{%>
                <tr>
                    <td><%=plan.id %></td>
                    <td><%=plan.title %></td>
                    <td>R$ <%=plan.value %></td>

                    <td>
                        <a href="/admin/plans/edit/<%= plan.id %>" class="btn btn-primary">Editar</a>
                        <form onsubmit="confirmarDelecao(event, this)" method="POST" action="/plans/delete/<%=plan.id%>"
                            style="display: inline;">
                            <input type="hidden" name="id" >
                            <button class="btn btn-primary">Deletar</button>
                        </form>
                    </td>

                </tr>
                <% } ) %>
            </tbody>
        </table>

    </div>
</body>

<%- include ("../partials/footer.ejs") %>

<script>
    function confirmarDelecao(event, form) {
        event.preventDefault();
        var decision = confirm("Você deseja realmente exlcuir?");
        if (decision) {
            form.submit();
        }
    }
</script>